{% layout 'layout.liquid' %}

{% block content %}

<div class=" m30 card-group mb-3" style="width: 18rem;">




    {% for doc in myFavorites %}

    <div class="card">

        <img src="{{doc.speciesImage}}" class="card-img-top " alt="...">
        <div class="card-body">
            <h5 class="card-title">{{doc.commonName}}</h5>
            <p class="card-text">{{doc.sciName}}</p>
            <p class="card-text">{{doc.speciesStatus}}</p>
            <p class="card-text">{{doc.speciesState}}</p>
            <p class="card-text">{{doc.areaStateFull}}</p>

            <form action="/favorites/remove/{{doc._id}}?_method=DELETE" method="POST">
                <input class="btn btn-sm btn-success" name="{{doc._id}}" title="" type="submit" value="Remove Favorite">
            </form>
        </div>

        

    </div>

    {% endfor %}

</div>





{% endblock %}