{% layout 'layout.liquid' %}

{% block content %}

SHOW.liquid

<div class="mb-3">

    {% comment %}
    <form action="/faunas/X" method="GET">
        <input type="text" class="form-control" name="X" placeholder="enter a state">
        <input type="submit" value="Submit">
    </form>
    {% endcomment %}

</div class="card-group">


<div class="card" style="width: 18rem;">


    <img src="{{response[0].speciesImage}}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{response[0].commonName}}</h5>
        <p class="card-text">{{response[0].sciName}}</p>
        <p class="card-text">{{response[0].speciesStatus}}</p>
        <p class="card-text">{{response[0].speciesState}}</p>
        <p class="card-text">{{response[0].areaStateFull}}</p>

        <a href="#" class="btn btn-primary">Favorite</a>
    </div>
</div>



</div>


{% endblock %}