{% layout 'layout.liquid' %}

{% block content %}

<div class="mb-3 card-group main">   


{% for doc in response %}


    <div class="card m30" style="width: 18rem;">

        <img src="{{doc.speciesImage}}" class="card-img-top " alt="...">
        <div class="card-body">
            <h5 class="card-title">{{doc.commonName}}</h5>
            <p class="card-text">{{doc.sciName}}</p>
            <p class="card-text">{{doc.speciesStatus}}</p>
            <p class="card-text">{{doc.areaStateFull}}</p>

            <form action="/favorites/{{doc._id}}" method="POST">
                <input class="btn btn-sm  btn-success" name="{{doc._id}}" title="" type="submit" value="Favorite">
            </form>

        </div>

    </div>

</div>

{% endfor %}


{% endblock %}